SPRING_PROFILES_ACTIVE=local

FINCORE_DB_NAME=fincore
FINCORE_DB_URL=jdbc:postgresql://postgres:5432/fincore
FINCORE_DB_USER=fincore
FINCORE_DB_PASSWORD=change-me-db-password

FINCORE_KAFKA_BOOTSTRAP=kafka:29092

FINCORE_API_KEY_WRITE=change-me-write-key
FINCORE_API_KEY_READ_ONLY=change-me-read-only-key

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana-password
